.fc-tooltip {
  box-sizing: border-box;
  width: calc(100vw - 16px);
  position: absolute;
  border: 1px solid #dfe4e7;
  padding: 16px;
  font-size: 14px;
  color: #475058;
  letter-spacing: 0.3px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @media only screen and (min-width: 768px) {
    width: auto;
    max-width: 410px;
    display: inline-block;
  }
}

.fc-tooltip_overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
